.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.keystore
.jks
.apk
.idsg
generate_blueprint.py

src-tauri/gen/
*.keystore
*.jks
*.apk
*.aab
.env
.env.*
helper.md
generate_blueprint.py
reports/
target/